# deps
node_modules
.pnpm-store

# next.js
apps/web/.next
apps/web/out

# env
.env
.env.local
.env.*.local

# supabase
supabase/.branches
supabase/.temp

# build
dist
build

# misc
.DS_Store
*.log
.turbo
